{lib_dirs,            ["deps"]}.
{deps_dir,            ["deps"]}.
{require_otp_vsn,     "R1[45]"}.
{erl_opts,            [ debug_info
                      , nowarn_shadow_vars
                      , warnings_as_errors
                      ]}.
{xref_checks,         [undefined_function_calls]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{deps,
 [ { meck
   , ""
   , {git, "git://github.com/eproxus/meck.git", {branch, "master"}}
   }
 , { proper
   , ""
   , {git, "git://github.com/manopapad/proper.git", {branch, "master"}}
   }
 ]}.
